# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/DaeConverter/v14/.suo
/FileHandler/test/loli.render_model
/FileHandler/test/test.render_model
/FileHandler/x64/Debug
/x64/Debug
/DaeConverter.VC.db
/DaeConverter.VC.VC.opendb
